#root
node_modules/

# dependencies
/node_modules
studio/node_modules
studio/.env

#frontend
frontend/.next
frontend/node_modules
frontend/.env

#backend
backend/.venv
backend/.env
backend/__pycache__